#b-mod {
  margin: 30px;
}

#b-mod .mod-inp-wrapper{
  display: flex;
  flex-direction: column;
}

#b-mod #cols-wrapper{
  display: flex;
}

#b-mod #cols-wrapper > div:nth-child(2){
  margin-left: 40px;
}

#btn-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
}

#btn-wrapper button{
  color: white;
  background-color: #036788;
}

#b-mod button:disabled {
  background-color: gray;
  cursor: wait;
}

#btn-wrapper button:nth-child(2){
  background-color: #40af40;
}

#btn-wrapper button:last-child{
  background-color: #e02a2a;
}

#btn-wrapper button:last-child:disabled{
  background-color: gray;
}

#b-mod label {
  font-size: 1.2rem;
  width: 300px;
}

#b-mod input {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1.2rem;
  width: 300px;
}

#b-mod .err-msg {
  position: relative;
  color: red;
  top: -10px;
}
