#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    width: min-content;
    background-color: #036788;
}

#navbar-logo {
    margin: 40px auto;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.list-tile {
    display: flex;
    align-items: center;
    margin: 20px;
}

.tile-title {
    margin-left: 20px;
    margin-right: 40px;
}

/* icons */
.list-tile svg {
    fill: white;
    width: 26px;
    height: 26px;
}

#navbar a {
    color: white;
    cursor: pointer;
}
