#wallet {
    margin: 40px 30px;
}

#wallet p {
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#wallet h1 {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

#bal-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#w-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bal-wrapper button {
    color: white;
    width: 100%;
}

#w-btn-wrapper #dep-btn {
    background-color: #40af40;
}

#w-btn-wrapper #wit-btn {
    background-color: #e02a2a;
}

#trans-table {
    border: 1px solid #c1c1c1;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

#trans-table th {
    text-align: left;
}

#trans-table th {
    font-size: 1.2rem;
    font-weight: 500;
}

#trans-table tr {
    border-bottom: 1px solid #c1c1c1;
}

#trans-table tr, #trans-table td, #trans-table th {
    height: 50px;
    padding-left: 30px;
}

#trans-table tr:last-child {
    background-color: #ececec;
    color: black;
}
