#wd-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    margin: 0 14px;
    padding: 0 20px;
}

#wd-card div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wd-card h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 20px 0;
    text-transform: capitalize;
}

/* last h3 heading */
#wd-card h3:not(:first-child) {
    text-align: center;
}

#wd-card img {
    width: 50px;
    height: 50px;
}

#wd-card svg {
    width: 32px;
    height: 32px;
    fill: gray;
}

#wd-card label {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
}

#wd-card input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}

#wd-card button {
    width: 100%;
    color: white;
    background-color: #046788;
    margin: 50px 0 0 0;
}

#wd-card .err-msg {
    color: red;
    align-self: center;
    margin-bottom: 30px;
}

#wd-card #inp-wrapper {
    display: flex;
    margin-top: 30px;
}

#wd-card #inp-wrapper button {
    display: flex;
    padding: 0 8px;
    border-radius: 6px;
    margin: 0 0 0 10px;
    flex: 1;
}

#wd-card #inp-wrapper button svg {
    width: 20px;
    height: 20px;
    fill: white;
    align-self: center;
}

#wd-card #w-info {
    color: black;
}
